/dts-v1/;

#include "msm8939-huawei-common.dtsi"

/ {
	model = "Huawei MediaPad T2 Pro 10.0";
	compatible = "huawei,federer", "qcom,msm8939";
	chassis-type = "tablet";

	battery: battery {
		compatible = "simple-battery";
		device-chemistry = "lithium-ion-polymer";

		voltage-min-design-microvolt = <3350000>;
		voltage-max-design-microvolt = <4350000>;
		energy-full-design-microwatt-hours = <24700000>;
		charge-full-design-microamp-hours = <6500000>;

		factory-internal-resistance-micro-ohms = <118000>;

		precharge-current-microamp = <1300000>;
		charge-term-current-microamp = <260000>; //4%(from vendor dts)

		ocv-capacity-celsius = <(-25) 0 25>;
		/* table for -20 degree Celsius  data from HB26A510EBC_GY_SWD-4v35-6500mah.dtsi*/
		ocv-capacity-table-0 =  <4316000 100>,  <4200000 95>,  <4124000 90>,
			<4025000 85>,  <3964000 80>,  <3918000 75>,  <3883000 70>,
 			<3857000 65>,  <3836000 60>,  <3817000 55>,  <3800000 50>,
			 <3785000 45>,  <3770000 40>,  <3754000 35>,  <3737000 30>,
			 <3717000 25>,  <3694000 20>,  <3669000 16>,  <3645000 13>,
			 <3628000 11>,  <3616000 10>,  <3604000 9>,  <3586000 8>,
			 <3568000 7>,  <3544000 6>,  <3516000 5>,  <3478000 4>,
			 <3428000 3>,  <3360000 2>,  <3250000 1>,  <3000000 0>;
		/* table for 0 degree Celsius */
		ocv-capacity-table-1 =  <4315000 100>, <4250000 95>, <4190000 90>,
			<4136000 85>, <4085000 80>, <4032000 75>, <3957000 70>,
			<3918000 65>, <3885000 60>, <3854000 55>, <3828000 50>,
			<3806000 45>, <3790000 40>, <3777000 35>, <3765000 30>,
			<3751000 25>, <3732000 20>, <3712000 16>, <3698000 13>,
			<3690000 11>, <3686000 10>, <3680000 9>, <3674000 8>,
			<3664000 7>, <3648000 6>, <3623000 5>, <3584000 4>,
			<3530000 3>, <3449000 2>, <3316000 1>, <3000000 0>;
		/* table for 25 degree Celsius */
		ocv-capacity-table-2 = <4315000 100>, <4260000 95>, <4204000 90>,
			<4150000 85>, <4098000 80>, <4054000 75>, <3988000 70>,
			<3953000 65>, <3910000 60>, <3868000 55>, <3838000 50>,
			<3816000 45>, <3798000 40>, <3782000 35>, <3769000 30>,
			<3754000 25>, <3736000 20>, <3716000 16>, <3696000 13>,
			<3688000 11>, <3686000 10>, <3684000 9>, <3682000 8>,
			<3678000 7>, <3668000 6>, <3644000 5>, <3600000 4>,
			<3540000 3>, <3458000 2>, <3325000 1>, <3000000 0>;
	};

	/*headphones_switch: audio-switch {
		compatible = "simple-audio-amplifier";
		VCC-supply = <&speaker_vdd>;
		enable-gpios = <&tlmm 1 GPIO_ACTIVE_LOW>;

		pinctrl-0 = <&headphones_switch_default>;
		pinctrl-1 = <&headphones_switch_sleep>;
		pinctrl-names = "default","sleep";

		sound-name-prefix = "Headphones Switch";
	};*/

	speaker_boost: regulator-speaker-boost {
		compatible = "regulator-fixed";
		regulator-name = "speaker_boost";
		gpio = <&tlmm 2 GPIO_ACTIVE_HIGH>; // Boost GPIO
		enable-active-high;
		
		pinctrl-names = "default", "sleep";
		pinctrl-0 = <&speaker_boost_default>;
		pinctrl-1 = <&speaker_boost_sleep>;
	};

	speaker_vdd: regulator-speaker-vdd {
		compatible = "regulator-fixed";
		regulator-name = "speaker_vdd";
		gpio = <&tlmm 0 GPIO_ACTIVE_HIGH>; // VDD Switch
		enable-active-high;
		regulator-always-on;
		/*pinctrl-0 = <&speaker_vdd_default>;
		pinctrl-1 = <&speaker_vdd_sleep>;
		pinctrl-names = "default","sleep";*/
	};

	speaker_amp: audio-amplifier {
		compatible = "simple-audio-amplifier";
		VCC-supply = <&speaker_vdd>;
		vin-supply = <&speaker_boost>;
		enable-gpios = <&tlmm 3 GPIO_ACTIVE_HIGH>; // Enable GPIO
		startup-delay-us = <200000>;

		pinctrl-0 = <&speaker_amp_default>;// &headphones_switch_default>;
		pinctrl-1 = <&speaker_amp_sleep>;// &headphones_switch_sleep>;
		pinctrl-names = "default","sleep";
		
		sound-name-prefix = "Speaker";
	};

	reg_tp_vdd: regulator-tp-vdd {
		compatible = "regulator-fixed";
		regulator-name = "tp_vdd";

		vin-supply = <&pm8916_l17>;
		regulator-min-microvolt = <1850000>;
		regulator-max-microvolt = <1850000>;
		gpio = <&tlmm 112 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-always-on;
	};

	usb_id: usb-id {
		id-gpios = <&tlmm 117 GPIO_ACTIVE_HIGH>;
	};
};

&blsp_i2c2 {
	status = "okay";

	accelerometer@1f {
		compatible = "kionix,kx023-1025";
		reg = <0x1f>;

		vdd-supply = <&pm8916_l17>;
		vddio-supply = <&pm8916_l6>;

		pinctrl-0 = <&accel_int_default>;
		pinctrl-names = "default";
		mount-matrix =  "-1", "0", "0",
				"0", "-1", "0",
				"0", "0", "1";
	};

	light@38 {
		compatible = "rohm,bh1745";
		reg = <0x38>;

		vdd-supply = <&pm8916_l17>;
		vio-supply = <&pm8916_l6>;
	};
};

&blsp_i2c5 {
	status = "okay";
	clock-frequency = <400000>;

	touchscreen@1a {
		compatible = "cypress,tt21000";
		reg = <0x1a>;

		interrupt-parent = <&tlmm>;
		interrupts = <13 IRQ_TYPE_EDGE_FALLING>;

		reset-gpios = <&tlmm 12 GPIO_ACTIVE_LOW>;

		vdd-supply = <&reg_tp_vdd>;
		vddio-supply = <&pm8916_l16>;

		pinctrl-0 = <&touchscreen_default>;
		pinctrl-names = "default";
	};
};

&mdss_dsi0 {
	panel@0 {
		compatible = "huawei,federer-panel";

		vddio-supply = <&pm8916_l6>;

		vled-gpios = <&tlmm 97 GPIO_ACTIVE_HIGH>;
		blk-gpios = <&tlmm 109 GPIO_ACTIVE_HIGH>;
		panel-gpios = <&tlmm 32 GPIO_ACTIVE_HIGH>;

		reset-gpios = <&tlmm 25 GPIO_ACTIVE_LOW>;

		pinctrl-0 = <&panel_default>;
		pinctrl-1 = <&panel_sleep>;
	};
};


&mpss_mem {
	reg = <0x0 0x86800000 0x0 0x5600000>;
	//reg = <0x0 0x86800000 0x0 0x2b00000>;
};


&pm8916_codec {
	jack-gpios = <&tlmm 1 GPIO_ACTIVE_LOW>;
	qcom,micbias1-ext-cap;

	pinctrl-names = "default";
	pinctrl-0 = <&headphones_switch_default>;
};

&sdhc_2 {
	cd-gpios = <&tlmm 38 GPIO_ACTIVE_LOW>;
};

&sound {
	model = "wt86528";
	widgets =
		"Speaker", "Speaker",
		"Headphone", "Headphones";
	pin-switches = "Speaker";
	audio-routing =
		"Speaker", "Speaker OUTL",
		"Speaker", "Speaker OUTR",
		"Speaker INL", "HPH_L",
		"Speaker INR", "HPH_R",
		"Headphones", "HPH_L",
		"Headphones", "HPH_R",
		"AMIC1", "MIC BIAS External1",
		"AMIC2", "MIC BIAS External2",
		"AMIC3", "MIC BIAS External1";
	aux-devs = <&speaker_amp>;
	status = "okay";
};

&usb_id {
    id-gpios = <&tlmm 117 GPIO_ACTIVE_HIGH>;
};

&wcnss_iris {
	compatible = "qcom,wcn3660b";
};

&tlmm {
	gpio_leds_default: gpio-leds-default-state {
		pins = "gpio8", "gpio9", "gpio10";
	};

	/* GPIO 1 - Headphones Switch */
	headphones_switch_default: headphones-switch-default {
		pins = "gpio1";
		function = "gpio";
		drive-strength = <2>;
		bias-disable;
		output-low;
		//bias-pull-up; /* Falls High = Kopfhörer-Pfad aktiv */
	};

	/*headphones_switch_sleep: headphones-switch-sleep {
		pins = "gpio1";
		function = "gpio";
		drive-strength = <2>;
		bias-pull-down;
	};*/

	/*light_irq_default: light-irq-default-state {
		pins = "gpio113";
		function = "gpio";
		drive-strength = <6>;
		input-enable;
		bias-disable;
	};

	light_irq_sleep: light-irq-sleep-state {
		pins = "gpio113";
		function = "gpio";
		drive-strength = <2>;
		bias-pull-down;
	};*/

	panel_default: panel-default-state {
		pins = "gpio25";
	};

	panel_sleep: panel-sleep-state {
		pins = "gpio25";
	};

	/* GPIO 3 - Speaker Enable */
	speaker_amp_default: speaker-amp-default {
		pins = "gpio3";
		function = "gpio";
		drive-strength = <2>;
		bias-pull-up;
	};

	speaker_amp_sleep: speaker-amp-sleep {
		pins = "gpio3";
		function = "gpio";
		drive-strength = <2>;
		bias-pull-down;
	};

	/* GPIO 2 - Speaker Boost */
	speaker_boost_default: speaker-boost-default {
		pins = "gpio2";
		function = "gpio";
		drive-strength = <2>;
		bias-pull-up;
	};

	speaker_boost_sleep: speaker-boost-sleep {
		pins = "gpio2";
		function = "gpio";
		drive-strength = <2>;
		bias-pull-down;
	};

	/* GPIO 0 - Speaker VDD
	speaker_vdd_default: speaker-vdd-default {
		pins = "gpio0";
		function = "gpio";
		drive-strength = <2>;
		bias-pull-up;
	};

	speaker_vdd_sleep: speaker-vdd-sleep {
		pins = "gpio0";
		function = "gpio";
		drive-strength = <2>;
		bias-pull-down;
	}; */

	touchscreen_default: touchscreen-default-state {
		pins = "gpio12", "gpio13";
		function = "gpio";
		drive-strength = <2>;
		bias-disable;
	};

	usb_id_default: usb-id-default-state {
		pins = "gpio117";
	};
};

&{/gpio-leds} {
	led-2 {
		gpios = <&tlmm 10 GPIO_ACTIVE_HIGH>;
	};
};
